body{
    background-color: purple;
}
h1{
    background-color: chartreuse;
}
p{
    color: whitesmoke;
}
.fancy{
    text-transform: uppercase;
    color: tomato;
    font-size: 3em;
    border: 1px solid white;
    padding: 10px;
    padding-bottom: 20px;
    margin: 100px;
    background-color: yellowgreen;
    text-align: center;
}

.dave{
    width: 100px;
    line-height: 1.5em;
    font-weight: bold;
}

#superfancy{
    font-family: 'Mochiy Pop P One', sans-serif, cursive;
    font-size: 3em;
}