body{
    background-color: darkgreen;
    color: whitesmoke;
    font-family: sans-serif;
}

header{
    background-color: indigo;
}

a{
    font-size: large;
    color: whitesmoke;
}

footer{
    background-color: indigo;
}